header{
  position: relative;
  background-color: #fcd113e1;
  color: rgb(73, 73, 73);
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}
#navigation h1{
  padding-top: 20px;
}
#navimage_x {
  width: 60px;
  height: 37px;
  position: absolute;
  right: 12px;
  top: 0px;
}
#navimage_insta {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 4px;
  right: 68px;
}
#navimage_x:hover{
  transform: scale(1.02);
  transition: transform 0.25s;
}
#navimage_insta:hover{
  transform: scale(1.06);
  transition: transform 0.15s;
}
#navlogo {
  position: absolute;
  top: -21px;
  left: 50px;
  margin: 5px;
  width: 100%;
  max-width: 205px;
  height: 205px;
}
/*Verlinkungen in der Navigationsleiste*/
#links{
  background-color: #fcb213e1;
  color: rgba(255, 230, 0, 0.904);
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  text-align: center;
}
#links a{
  font-size: 24px;
  color: white;
  text-decoration: none;
}
#links a:hover{
  color: rgb(189, 189, 189);
  text-decoration: none;
}
body{
  background-color: rgb(10, 10, 10);
  margin: 0px;
}
main{
  color: white;
  text-align: center;
  font-size: 19px;
  background-position: center;
  background-size: auto;
}
/*DiaShow Container für die wechselnden Bilder*/
.diashow-frame{
  margin-top: -29px; 
  width: 100%;
} 
/* Stil für die Bilder */
.diashow-images {
  width: 100%;
  height: 435px;
  object-fit: contain;
}
.diaimages{
  width: 100%;
}
#info-cointainer {
  display: flex;
  height: 385px;
}
.inf-con-headline{
  font-size: 36px;
  font-family: system-ui;
  font-weight: bold;
  text-align: center;
}
#lastgame {
  background-color: rgb(44, 44, 44);
  width: 26%;
  color: white;
}
#lastgame img {
  height: 58px;
  width: 58px;
  margin-left: 15px;
  margin-right: 15px;
}
#lastgame a{
  text-decoration: none;
  position: relative;
  bottom: 110px;
}
#lastgame-headline{
  width: 100%;
}
#lastgame:hover{
  transform: scale(1.015);
  transition: transform 0.4s;
}
#lastscore{
  position: relative;
  top: 105px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: system-ui;
  color: white;
}
#subinfo_lastscore{
  color: gray;
}
#nextgame{
  background-color: rgb(159, 159, 159);
  width: 50%;
  color: black;
}
#nextgame-teams{
  height: 75px;
  width: 75px;
  margin-left: 20px;
  margin-right: 20px;
}
#nextgame-headline {
  width: 100%;
}
#nextscore{
  position: relative;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  font-family: system-ui;
  color: rgb(0, 0, 0);
}
#subinfo_nextscore_container{
  display: flex;
  align-items: center;
}
#subinfo_nextscore {
  color: rgb(82, 82, 82);
  margin: auto;
  font-size: 20px;
}
#nextgames{
  background-color: rgb(217, 217, 217);
  width: 24%;
  font-size: 20px;
  font-family: system-ui;
  font-weight: bold;
}
#nextgames-headline {
  width: 100%;
  color: black;
}
.headtextgames{
  color: black;
}
.subtextgames{
  color: rgb(83, 83, 83);
  font-size: 17px;
}
#headline_main{
  color: white;
  font-size: 28px;
  font-family: system-ui;
}
.home_main_hr {
  width: 85%;
  height: 12px;
  background-color: rgb(255, 145, 0);
  border: none;
  border-radius: 6px;
}
#ueber_uns_textbox {
  text-align: center;
  width: 100%;
  margin: 0px 0px 40px 0px;
}
#text_main {
  color: white;
  font-size: 18px;
  font-family: system-ui;
  width: 80%;
  margin: auto;
}
#trikot_container_bild{
width: 100%;
height: 275px;
}
#trikot_container_bild img{
width: 100%;
height: 100%;
}
#trikot_container_bild_player{
position: relative;
right: 100px;
}
#trikot_container_bild_player img {
width: 350px;
position: absolute;
right: 19px;
bottom: -33px;
height: 347px;
}
#trikot_textbox {
position: absolute;
bottom: -1050px;
left: 100px;
}
#trikot_textbox_Title{
color: rgb(24, 24, 24);
background-color: rgb(255, 225, 0);
font-family: system-ui;
padding: 14px;
}
footer{
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
/*------------------------TABLET-SECTION------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
      font-size: 10px;
    }

  #navimage_x,
  #navimage_insta {
    display: none;
  }

  #navlogo {
      position: absolute;
      top: -13px;
      left: 4px;
      margin: 5px;
      width: 100%;
      max-width: 130px;
      height: 130px;
    }
    #navigation h1 {
      padding-top: 20px;
      font-size: 30px;
    }
    #links {
      font-size: 20px;
    }
    #links a {
      font-size: 16px;
    }
    #links a:hover{
      color: rgb(189, 189, 189);
      text-decoration: none;
  }
    main{
      font-size: 19px;
  }
  /* Stil für die Bilder */
  .diashow-images {
      width: 100%;
      height: 294px;
      object-fit: contain;
    }
    #info-cointainer {
      display: flex;
      height: 232px;
    }
    .inf-con-headline {
      font-size: 20px;
      font-family: system-ui;
      font-weight: bold;
      text-align: center;
    }
  #lastgame {
      background-color: rgb(44, 44, 44);
      width: 26%;
      color: white;
  }
  #lastgame img {
      height: 35px;
      width: 35px;
      margin-left: 10px;
      margin-right: 6px;
    }
  #lastgame a{
      text-decoration: none;
      position: relative;
      bottom: 110px;
  }
  #lastgame-headline{
      width: 100%;
  }
  #lastgame:hover{
      transform: scale(1.015);
      transition: transform 0.4s;
  }
  #lastscore {
      font-size: 16px;
    }
    #nextgame-teams {
      height: 55px;
      width: 55px;
      margin-left: 32px;
      margin-right: 29px;
    }
    #nextscore {
      font-size: 20px;
    }
    #subinfo_nextscore {
      color: rgb(82, 82, 82);
      margin: auto;
      font-size: 12px;
    }
    #nextgames {
      width: 24%;
      font-size: 9px;
    }
  .subtextgames {
      font-size: 8px;
    }
    #headline_main {
      font-size: 22px;
    }
  .home_main_hr {
      width: 84%;
      height: 6px;
    }
    #ueber_uns_textbox {
      width: 100%;
      margin: 0px 0px 15px 0px;
    }
    #text_main {
      font-size: 13px;
    }
    #trikot_container_bild {
      height: 216px;
    }
    #trikot_container_bild_player img {
      width: 290px;
      right: -30px;
      bottom: -26px;
      height: 272px;
    }
    #trikot_textbox {
      position: absolute;
      top: 1138px;
    }
    #trikot_textbox_Title {
      padding: 7px;
      font-size: 23px;
    }
    footer {
      font-size: 14px;
      padding: 12px;
    }
}

/*------------------------HANDY-SECTION------------------------------*/

@media only screen and (max-width: 480px) {
  header {
    font-size: 6px;
  }

  #navimage_x,
  #navimage_insta {
    display: none;
  }

  #navlogo {
      position: absolute;
      top: -1px;
      left: 1px;
      margin: 5px;
      width: 100%;
      max-width: 45px;
      height: 45px;
    }
    #navigation h1 {
      padding-top: 20px;
      font-size: 16px;
    }
    #links a {
      font-size: 8px;
    }
    #links a:hover{
      color: rgb(189, 189, 189);
      text-decoration: none;
  }
    main{
      font-size: 19px;
  }
  /* Stil für die Bilder */
  .diashow-images {
      width: 100%;
      height: 114px;
      object-fit: contain;
    }
  #info-cointainer {
      display: flex;
      height: 130px;
    }
    .inf-con-headline {
      font-size: 9px;
      font-family: system-ui;
      font-weight: bold;
      text-align: center;
    }
  #lastgame {
      background-color: rgb(44, 44, 44);
      width: 26%;
      color: white;
  }
  #lastgame img {
      height: 25px;
      width: 25px;
      margin-left: 4px;
      margin-right: 0px;
    }
  #lastgame a{
      text-decoration: none;
      position: relative;
      bottom: 110px;
  }
  #lastgame-headline{
      width: 100%;
  }
  #lastgame:hover{
      transform: scale(1.015);
      transition: transform 0.4s;
  }
  #lastscore {
      position: relative;
      top: 105px;
      font-size: 7px;
    }
  #nextgame-teams {
      height: 35px;
      width: 35px;
      margin-left: 15px;
      margin-right: 15px;
    }
  #nextscore {
      font-size: 13px;
    }
  #subinfo_nextscore {
      color: rgb(82, 82, 82);
      margin: auto;
      font-size: 5px;
    }
    #nextgames {
      width: 24%;
      font-size: 9px;
    }
  .subtextgames {
      font-size: 8px;
    }
    #headline_main {
      font-size: 15px;
    }
  .home_main_hr {
      width: 84%;
      height: 6px;
    }
    #ueber_uns_textbox {
      width: 100%;
      margin: 0px 0px 15px 0px;
    }
  #text_main {
      font-size: 8px;
    }
    #trikot_container_bild {
      height: 80px;
    }
    #trikot_container_bild_player img {
      width: 97px;
      right: -57px;
      bottom: -7px;
      height: 97px;
    }
    #trikot_textbox {
      position: absolute;
      top: 690px;
  }
    #trikot_textbox_Title {
      padding: 4px;
      font-size: 10px;
    }
    footer {
      font-size: 9px;
      padding: 8px;
    }
}
