header {
    background-color: #fcd113e1;
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

#navigation h1 {
    padding-top: 20px;
}

#navlogo {
    position: absolute;
    top: 10px;
    left: 50px;
    margin: 5px;
}

#links {
    background-color: #fcb213e1;
    color: rgba(255, 230, 0, 0.904);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#links a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

#links a:hover {
    color: rgb(189, 189, 189);
    text-decoration: none;
}

body {
    background-color: rgb(29, 29, 29);
}

main {
    background-image: url('../Images/Sponsor_Dortmund/bgimage.jpeg');
    background-position: center;
    background-position-y: -50px;
    viewport-fit: 20vh;
    color: white;
    text-align: center;
    font-size: 19px;
    padding-top: 1px;
}

.kader-hr {
    background-color: #fdad00;
    height: 4px;
    border: none;
    border-radius: 2px;
    margin: 0px
}
.kader {
    background: transparent;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 26px;
    column-gap: 38px;
}
/*Die Struklturierung der Spieler*/
.player {
    background-color: #313131dc;
    border-radius: 6px;
    margin: 50px 5px 35px 5px;
    height: 260px;
    text-align: left;
    width: 400px;
}

.player:hover{
    transform: scale(1.06);
}

/*Spielername als Überschrift*/
.playername{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

/*Läderflagge aus der Herkunft des Spielers*/
.nation{
    width: 65px;
    height: 40px;
    position: relative;
    bottom: 126px;
    left: 35px;

}

/*Bild des Spielers*/
.profile_pic {
    width: 145px;
    height: 145px;
    position: relative;
    left: 150px;
    bottom: 165px;
    border-radius: 40%;
    border: solid orange 2px;
}

/*Text mit den Spielerinformationen*/
.player h5 {
    position: relative;
    bottom: 8px;
    right: -35px;
}

footer {
    background-color: #fcb213e1;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}