header {
    background-color: #fcd113e1;
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
#navigation h1 {
    padding-top: 20px;
}
#navlogo {
    position: absolute;
    top: 10px;
    left: 50px;
    margin: 5px;
}
/*Verlinkungen in der Navigationsleiste*/
#links {
    background-color: #fcb213e1;
    color: rgba(255, 230, 0, 0.904);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
#links a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}
#links a:hover {
    color: rgb(189, 189, 189);
    text-decoration: none;
}
body {
    background-image: url('../Images/Sponsor_Dortmund/bgimage.jpeg');
    background-position: center;
}
main {
    viewport-fit: 20vh;
    color: white;
    text-align: center;
    font-size: 19px;
    padding-top: 1px;
}
/*Linie in der Tabelle der Spielerprofile*/
.kader-hr {
    background-color: #fdad00;
    height: 4px;
    border: none;
    border-radius: 2px;
    margin: 0px
}
/*Tabelle der Spielerprofile*/
.kader {
    background: transparent;
}
/*Linie in den Spielerprofilen*/
.player-hr{
    background-color: #db990a;
    height: 3px;
    border: none;
    border-radius: 2px;
    margin-left: 40px;
    bottom: 60px;
    position: relative;
    margin-right: 40px;
}
/*Die Struklturierung der Spielerprofile*/
.player {
    border: solid rgb(114, 114, 114) 5px;
    background-color: #313131dc;
    border-radius: 15px;
    margin: 50px 5px 35px 5px;
    height: 199px;
    text-align: center;
    width: 350px;
    display: inline-table;
    margin: 10px;
    border-inline: none;
}
.player:hover{
    transform: scale(1.02);
}
/*Spielername als Überschrift*/
.playername{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
/*Läderflagge aus der Herkunft des Spielers*/
.nation{
    width: 65px;
    height: 40px;
    position: relative;
    bottom: 365px;
    left: 202px;

}
/*Bild des Spielers*/
.profile_pic {
    width: 145px;
    height: 145px;
    position: relative;
    left: 45px;
    bottom: 168px;
    border-radius: 40%;
    border: solid rgb(134, 134, 134)2px;
}
/*Text mit den Spielerinformationen*/
.player h5 {
    position: relative;
    bottom: 9px;
    right: -35px;
    text-align: left;
}
/*Bereiche der Überschrift der Positionen*/
.position{
    background-color: rgba(26, 26, 26, 0.829);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
/*Download Button*/
.player-button{
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    padding: 15px 25px;
    position: relative;
    bottom: 43px;
}
.player-button:hover{
    transform: scale(1.015);
    letter-spacing: 0.5px;
}
footer {
    background-color: #fcb213e1;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}