header{
    background-color: #fcd113e1;
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
#navigation h1{
    padding-top: 20px;
}
#navimage_x {
  width: 60px;
  height: 37px;
  position: absolute;
  top: 31px;
  right: 12px;
}
#navimage_insta {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: 68px;
}
#navimage_x:hover{
  transform: scale(1.02);
  transition: transform 0.25s;
}
#navimage_insta:hover{
  transform: scale(1.06);
  transition: transform 0.15s;
}
#navlogo{
    position: absolute;
    top: 10px;
    left: 50px;
    margin: 5px;
}
/*Verlinkungen in der Navigationsleiste*/
#links{
    background-color: #fcb213e1;
    color: rgba(255, 230, 0, 0.904);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
#links a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
#links a:hover{
    color: rgb(189, 189, 189);
    text-decoration: none;
}
body {
    background-image: url('../Images/Sponsor_Dortmund/bgimage2.jpg');
    background-position: center;
    background-size: cover;
    margin: 0px;
  }
main{
    color: white;
    font-size: 19px;
}
.statistic-grid{
    display: inline;
}
.statistic-box {
    background-color: rgb(92, 92, 92);
    border-radius: 18px;
    padding: 1px 40px 35px 40px;
    margin: 70px 30px 35px 30px;
    text-align: center;
  }
.statistic-box h4{
    font-size: 26px;
}
.statistic-box-hr{
    background-color: orange;
    border: none;
    border-radius: 1px;
    width: 90%;
    height: 5px;
    .statistic-box-hr{
      margin-bottom: 10px;
    }
}
.statistic-table{
    display: inline;
    margin: 0px;
    color: white;
}
.statistic-table th {
    margin-left: 3px;
    margin-right: 5111px;
    width: 184px;
    padding-left: 10px;
    padding-right: 10px;
}
#karte-G{
    width: 15px;
    height: 20px; 
    background-color: yellow;
    border: none;
    border-radius: 1px;
    margin-right: 3px;
    position: relative;
    bottom: 2px;
  }
  #karte-R {
    width: 15px;
    height: 20px;
    background-color: red;
    border: none;
    border-radius: 1px;
    margin-right: 3px;
    position: relative;
    bottom: 2px;
}

  footer{
    background-color: rgb(235, 235, 235);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
/*--------------TABLET-SECTION-------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        font-size: 10px;
      }
  
    #navimage_x,
    #navimage_insta {
      display: none;
    }
  
    #navlogo {
      position: absolute;
      top: 12px;
      left: 4px;
      margin: 5px;
      width: 100%;
      max-width: 130px;
      height: 130px;
    }
      #navigation h1 {
        padding-top: 20px;
        font-size: 30px;
      }
      #links {
        font-size: 20px;
      }
      #links a {
        font-size: 16px;
      }
      #links a:hover{
        color: rgb(189, 189, 189);
        text-decoration: none;
    }
      main{
        font-size: 8px;
    }
    .statistic-box h4 {
      font-size: 20px;
    }
    .statistic-box-hr{
      margin-bottom: 10px;
    }
    #karte-R {
      width: 9px;
      height: 14px;
      border-radius: 1px;
      margin-right: 3px;
      bottom: 4px;
    }
    #karte-G {
      width: 9px;
      height: 14px;
      border-radius: 1px;
      margin-right: 3px;
      bottom: 4px;
    }
    footer {
        font-size: 14px;
        padding: 12px;
      }
}

/*-----------------HANDY-SECTION-----------------------------*/

@media only screen and (max-width: 480px) {
    header {
        font-size: 6px;
      }
    
      #navimage_x,
      #navimage_insta {
        display: none;
      }
    
      #navlogo {
        position: absolute;
        top: 12px;
        left: 1px;
        margin: 5px;
        width: 100%;
        max-width: 45px;
        height: 45px;
      }
        #navigation h1 {
          padding-top: 20px;
          font-size: 16px;
        }
        #links a {
          font-size: 8px;
        }
        #links a:hover{
          color: rgb(189, 189, 189);
          text-decoration: none;
      }
        main{
          font-size: 5px;
      }
      .statistic-box h4 {
        font-size: 12px;
      }
      .statistic-box-hr{
        margin-bottom: 5px;
      }
      #karte-R {
        width: 5px;
        height: 10px;
        border-radius: 1px;
        margin-right: 3px;
        bottom: 2px;
        left: 2px;
      }
      #karte-G {
        width: 5px;
        height: 10px;
        border-radius: 1px;
        margin-right: 3px;
        bottom: 2px;
        left: 2px;
      }
      footer {
        font-size: 11px;
        padding: 10px;
      }
}