header {
    background-color: #fcd113e1;
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
#navigation h1 {
    padding-top: 20px;
}
#navimage_x {
  width: 60px;
  height: 37px;
  position: absolute;
  top: 31px;
  right: 12px;
}
#navimage_insta {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: 68px;
}
#navimage_x:hover{
  transform: scale(1.02);
  transition: transform 0.25s;
}
#navimage_insta:hover{
  transform: scale(1.06);
  transition: transform 0.15s;
}
#navlogo {
    position: absolute;
    top: 10px;
    left: 50px;
    margin: 5px;
}
/*Verlinkungen in der Navigationsleiste*/
#links {
    background-color: #fcb213e1;
    color: rgba(255, 230, 0, 0.904);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
#links a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}
#links a:hover {
    color: rgb(189, 189, 189);
    text-decoration: none;
}
body {
    background-image: url(../Images/Sponsor_Dortmund/bgimage.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}
main {
    viewport-fit: 20vh;
    color: white;
    text-align: center;
    font-size: 19px;
    padding-top: 1px;
}
.headline_main {
    margin: 0px 100px 45px 100px;
    padding: 12px;
    background-color: #dab61c;
    color: #2a2a2a;
    font-size: 32px;
    font-family: system-ui;
    border-radius: 2px;
}
#teampic {
    width: 755px;
    height: 395px;
    margin-bottom: 45px;
}
/*Linie in der Tabelle der Spielerprofile*/
.kader-hr {
    background-color: #fdad00;
    height: 4px;
    border: none;
    border-radius: 2px;
    margin: 0px
}
/*Tabelle der Spielerprofile*/
.kader {
    background: transparent;
}
/*Linie in den Spielerprofilen*/
.player-hr{
    background-color: #db990a;
    height: 3px;
    border: none;
    border-radius: 2px;
    margin-left: 40px;
    bottom: 60px;
    position: relative;
    margin-right: 40px;
}
/*Die Struklturierung der Spielerprofile*/
.player{
    border: solid rgb(114, 114, 114) 5px;
    background-color: #313131dc;
    border-radius: 15px;
    text-align: center;
    width: 370px;
    display: inline-table;
    margin: 18px;
    border-inline: none;
}
.player:hover{
    transform: scale(1.02);
}
/*Spielername als Überschrift*/
.playername{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
/*Läderflagge aus der Herkunft des Spielers*/
.nation {
    width: 65px;
    height: 40px;
    position: relative;
    bottom: 485px;
    left: 202px;
}
/*Bild des Spielers*/
.profile_pic {
    width: 145px;
    height: 135px;
    position: relative;
    left: 60px;
    bottom: 290px;
    border-radius: 25%;
    border: solid rgb(134, 134, 134)2px;
}
/*Läderflagge aus der Herkunft der Trainer*/
.nation_trainer {
    width: 65px;
    height: 40px;
    position: relative;
    bottom: 350px;
    left: 202px;
}
/*Bild der Trainer*/
.profile_pic_trainer {
    width: 145px;
    height: 135px;
    position: relative;
    left: 62px;
    bottom: 160px;
    border-radius: 25%;
    border: solid rgb(134, 134, 134)2px;
}
/*Text mit den Spielerinformationen*/
.player h5 {
    position: relative;
    bottom: 9px;
    right: -35px;
    text-align: left;
}
/*Bereiche der Überschrift der Positionen*/
.position{
    background-color: rgba(26, 26, 26, 0.829);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
/*Download Button*/
.player-button{
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    padding: 15px 25px;
    position: relative;
    bottom: 43px;
}
.player-button:hover{
    transform: scale(1.015);
    letter-spacing: 0.5px;
}
footer {
    background-color: #fcb213e1;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

/*--------------TABLET-SECTION-------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        font-size: 10px;
      }
  
    #navimage_x,
    #navimage_insta {
      display: none;
    }
  
    #navlogo {
      position: absolute;
      top: 12px;
      left: 4px;
      margin: 5px;
      width: 100%;
      max-width: 130px;
      height: 130px;
    }
      #navigation h1 {
        padding-top: 20px;
        font-size: 30px;
      }
      #links {
        font-size: 20px;
      }
      #links a {
        font-size: 16px;
      }
      #links a:hover{
        color: rgb(189, 189, 189);
        text-decoration: none;
    }
      main{
        font-size: 16px;
    }
    .headline_main {
        margin: 13px 21px 34px 21px;
        padding: 6px;
        font-size: 18px;
      }
      .position {
        padding-top: 7px;
        padding-bottom: 7px;
        margin: 0px;
      }
      #teampic {
        width: 600px;
        height: 355px;
        margin-bottom: 45px;
      }
      .player {
        width: 250px;
      }
      .player h5 {
        bottom: -10px;
        right: -35px;
        font-size: 10px;
      }
      .profile_pic {
        width: 100px;
        height: 95px;
        left: 18px;
        bottom: 135px;
      }
      .profile_pic_trainer {
        width: 75px;
        height: 70px;
        left: 35px;
        bottom: 94px;
      }
      .nation {
        width: 50px;
        height: 30px;
        bottom: 300px;
        left: 140px;
      }
      .nation_trainer {
        width: 35px;
        height: 22px;
        bottom: 203px;
        left: 138px;
      }
      .player-button {
        font-size: 10px;
        border-radius: 16px;
        padding: 13px 20px;
        bottom: 43px;
      }
    footer {
        font-size: 14px;
        padding: 12px;
      }
}

/*-----------------HANDY-SECTION-----------------------------*/

@media only screen and (max-width: 480px) {
    header {
        font-size: 6px;
      }
    
      #navimage_x,
      #navimage_insta {
        display: none;
      }
    
      #navlogo {
        position: absolute;
        top: 12px;
        left: 1px;
        margin: 5px;
        width: 100%;
        max-width: 45px;
        height: 45px;
      }
        #navigation h1 {
          padding-top: 20px;
          font-size: 16px;
        }
        #links a {
          font-size: 8px;
        }
        #links a:hover{
          color: rgb(189, 189, 189);
          text-decoration: none;
      }
        main{
          font-size: 14px;
      }
      .headline_main {
        margin: 13px 21px 34px 21px;
        padding: 6px;
        font-size: 18px;
      }
      .position {
        background-color: rgba(26, 26, 26, 0.829);
        padding-top: 4px;
        padding-bottom: 4px;
        margin: 0px;
      }
      #teampic {
        width: 330px;
        height: 215px;
        margin-bottom: 45px;
      }
      .player {
        width: 205px;
      }
      .player h5 {
            font-size: 7px;
            position: relative;
            bottom: 0px;
            right: -35px;
      }
      .profile_pic {
        width: 70px;
        height: 65px;
        left: 31px;
        bottom: 106px;
      }
      .profile_pic_trainer {
        width: 65px;
        height: 60px;
        left: 25px;
        bottom: 70px;
      }
      .nation {
        width: 32px;
        height: 20px;
        bottom: 211px;
        left: 115px;
      }
      .nation_trainer {
        width: 30px;
        height: 18px;
        bottom: 149px;
        left: 113px;
      }
      .player-button {
        font-size: 8px;
        border-radius: 13px;
        padding: 10px 18px;
        bottom: 43px;
      }
      footer {
        font-size: 11px;
        padding: 10px;
      }
}