body {
  color: var(--font-color);
}

header h1 {
  background-color: var(--secondary-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: var(--ternary-color);
  height: 50px;
  margin-top: -22px;
  margin-bottom: 2px
}

nav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 12px;
}

nav ul li a {
  text-decoration: none;
  color: var(--font-color);
  padding: 12px;
}

nav ul {
  padding-left: 0px;
}

nav ul li:hover {
  background-color: var(--ternary-color-elevated);
  border-style: solid;
  border-width: 1px;
}

nav ul li img {
  width: 20px;
  height: 20px;
}

.nav-logo {
  position: absolute;
  top: 25px;
  left: 20px;
  margin: 5px;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

main {
  background-color: var(--primary-color);
  padding: 10px;
}

footer {
  background-color: var(--secondary-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  text-align: center;
}