:root {
  --main-border-radius: 8px;
}

body {
  color: var(--font-color);
}

header h1 {
  background-color: var(--secondary-color);
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
  padding: 20px;
  text-align: center;
  color: var(--header-font-color);
}

nav {
  background-color: var(--ternary-color);
  height: 48px;
  margin-top: -22px;
  margin-bottom: 0px
}

nav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 12px;
}

nav ul li a {
  text-decoration: none;
  color: var(--header-font-color);
  padding: 12px;
}

nav ul {
  padding-left: 0px;
}

nav ul li:hover {
  background-color: var(--ternary-color-elevated);
}

nav ul li[active] {
  background-color: var(--ternary-color-elevated);
  margin-left: -4px;
  margin-right: -4px;
}

nav ul li img {
  width: 20px;
  height: 20px;
}

.nav-logo {
  position: absolute;
  top: 25px;
  left: 20px;
  margin: 5px;
}

.nav-logo img {
  width: 50px;
  height: 50px;
}

main {
  background-color: var(--primary-color);
  padding: 10px;
}

footer {
  background-color: var(--secondary-color);
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  padding: 20px;
  color: var(--header-font-color);
  text-align: center;
}

.news-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 2px;
  column-gap: 4px;
  row-gap: 8px;
  margin: 5px;
}

.news-item {
  margin: 2px;
  font-size: 15px;
  color: var(--header-font-color);
  background-color: var(--ternary-color-elevated);
  height: 200px;
  width: 300px;
  padding: 5px;
  border-radius: 7px;
}

.news-item {
  text-align: center;
}

<<<<<<< HEAD
/* Stil für eine zentrierte Tabelle */
table.center {
=======
td {
  text-align: center;
}

thead tr td {
  background-color: var(--secondary-color);
  color: var(--header-font-color);
}

table {
  width: 50%;
>>>>>>> f31e1af66909ad4ca0558ecc1be284ebad933c42
  margin-left: auto;
  margin-right: auto;
}

<<<<<<< HEAD
/* Stil für die Logos */
#logos {
  width: 80px;
  height: 80px;
}

/* Stil für die Tabelle der Gruppe F */
.t {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Stil für Zellen in der Tabelle */
.t td {
  font-size: 14px;
  padding: 10px 5px;
  border-width: 1px;
  overflow: hidden;
  word-break: keep-all;
  vertical-align: middle;
  text-align: middle;
}

/* Stil für Kopfzeilen in der Tabelle */
.t th {
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  vertical-align: middle;
  text-align: middle;
}

/* Stil für markierte Elemente in der Tabelle */
.t .t-markiert {
  background-color: #003255;
  color: #ffffff;
}

/* Stil für Bilder in der Tabelle */
.t .tableimg {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  position: relative;
  justify-content: left;
  margin-right: 5px;
  margin-left: 0;
}

.t .t2 {
  text-align: left;
=======
table,
td {
  border: 2px solid black;
  border-collapse: collapse;
  background-color: var(--ternary-color-elevated);
  color: var(--header-font-color);
}

th,
td {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#trailer {
  width: 50%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
>>>>>>> f31e1af66909ad4ca0558ecc1be284ebad933c42
}