/* Scrollverhalten */
html {
    scroll-behavior: smooth;
}

/* Stil für den Header */
header {
    background-color: #003255;
    color: #fff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

/* Stil für h1 innerhalb des Headers */
header h1 {
    padding-top: 20px;
    text-align: center;
}

/* Stil für die Navigation*/
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Stil für das Navigationslogo*/
#navlogo {
    width: 100%;
    max-width: 180px;
    margin: 5px;
    padding: 5px;
}

/* Stil für die Navigation*/
#links-left,
#links-right {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: #00417000;
    color: #080808;
}

/* Stil für Links */
#links-left a,
#links-right a {
    background-color: #00417000;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/* Hover-Stil für Links */
#links-left a:hover,
#links-right a:hover {
    color: #080808;
    text-decoration: none;
}

/* Responsive*/
@media screen and (max-width: 768px) {
    #navigation {
        align-items: flex-start;
    }

    #navlogo {
        width: 100%;
        max-width: 140px;
        margin: auto;
    }

    #links-left,
    #links-right {
        flex-direction: column;
        align-items: center;
    }

    #links-left a,
    #links-right a {
        margin: 10px 0;
    }

}

/* Stil für den gesamten Body */
body {
    background-color: rgb(29, 29, 29);
}

/* Stil für about */
#about {
    text-align: center;
}

/* Stil für den Footer */
footer {
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

/* Globale Stildefinition für alle Elemente */
* {
    font-family: 'Poppins', sans-serif;
    margin: 20;
    padding: 10;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
    color: #fff;
    text-align: center;
}

/* Überschrift-Stil */
.headingh1 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 25px;
}

/* Stil für eine zentrierte Tabelle */
.tablecenter {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

/* Stil für die Logos */
#logos {
    width: 80px;
    height: 80px;
}

/* Stil für die Überschrift in der Grid-Anordnung */
.grid .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}

/* Stil für die Grid-Anordnung der Boxen */
.grid .box-grid {
    display: grid;
    max-width: 830px;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    gap: 18px;
    margin-left: auto;
    margin-right: auto;
}

/* Stil für einzelne Boxen in der Grid-Anordnung */
.grid .box-grid .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #002a47;
    text-align: center;
    padding: 30px 1px;
}

/* Hover-Stil für Boxen in der Grid-Anordnung */
.grid .box-grid .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

/* Stil für die Spiele-Klasse */
.grid .box-grid .box .Spiele {
    font-size: 20px;
}

/* Stil für HR Trennlinie */
hr {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    width: 40%;
    height: 10px;
    background-color: #777;
}

/* Stil für Button */
.btn {
    width: 100%;
    max-width: 150px;
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    margin-bottom: 10px;
}

.btn2 {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    margin-bottom: 10px;
}

/* Button hover */
.btn:hover,
.btn2:hover {
    letter-spacing: 1px;
}

/* Stil für das Mannschaftsbild */
#Mannschaftsbild {
    width: 100%;
    max-width: 830px;
    height: auto;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
}

/* Stil für Data */
#data {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}