header{
    background-color:grey;
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}
#navlogo{
  position: absolute;
  top: 15px;
  left: 50px;
}
header h1{
    padding-top: 10px;
    text-align: center;
}
#links a{
    font-size: 24px;
    color: white;
    text-align: right;
}
#links a:hover{

    text-decoration: none;
    color: rgb(179, 179, 179);
    text-align: center;
}
body{
    background-color:black;
    color: white;
    
}
footer{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
h4,.kaderstrich {
    color: turquoise;
}

*{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

footer {
    background-color: deepskyblue;
    border-radius: 20%;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    padding: 20px;
    color: black;
    text-align: center;
  }

#clublogos{
    width: 40px;
    height: 40px;
}

.Spielinfo{

font-size: 20px;
padding-left: 90px;

}
#aboutinfos{

text-align: center;

}
#Vereinsdaten{

text-align: center;
color: black;

}

#Footertrennung{

color: burlywood;
font-size: 20px;
padding-top: 200px;

}

#Footer{

background-color: white;
}

#container {
    float: right;
    position: relative;
    width: 50%;
  }
  
  .homepagebild {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 11%;
  }
  
  .overlayimg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://th.bing.com/th/id/OIP.PpfdJfNDZvEjIBf6pYgSXAHaEK?w=303&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    border-radius: 11%;
  }
  
  #container:hover .overlayimg {
    width: 100%;
  }
  
  .imgtext {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }