header{
    background-color:grey;
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}
#navlogo{
  position: absolute;
  top: 15px;
  left: 50px;
}
header h1{
    padding-top: 10px;
    text-align: center;
}
#links a{
    font-size: 24px;
    color: white;
    text-align: right;
}
#links a:hover{

    text-decoration: none;
    color: rgb(179, 179, 179);
    text-align: center;
}
body{
    background-color:black;
    color: white;
    
}
footer{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
h4,.kaderstrich {
    color: turquoise;
}

*{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

footer {
    background-color: deepskyblue;
    border-radius: 20%;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    padding: 20px;
    color: black;
    text-align: center;
  }

#clublogos{
    width: 40px;
    height: 40px;
}

.Spielinfo{

font-size: 20px;
padding-left: 90px;

}
#aboutinfos{

text-align: center;

}
#Vereinsdaten{

text-align: center;
color: black;

}

#Footertrennung{

color: burlywood;
font-size: 20px;
padding-top: 200px;

}

#Footer{

background-color: white;
}

#homepagebild{

position: absolute;
padding-left: 1300px;
width: 500px;
height: 300px;
padding-bottom: 300px;
border-radius: 15%;

}