header{
    background-color:grey;
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}
#navlogo{
    position: absolute;
    top: 15px;
    left: 50px;
   }
header h1{
    padding-top: 10px;
    text-align: center;
}

#links a{
    font-size: 24px;
    color: white;
    text-align: right;
}
#links a:hover{

    text-decoration: none;
    color: rgb(179, 179, 179);
    text-align: center;
}
body{
    background-color:black;
    color: white;
}
footer{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
h4,.kaderstrich {
color: deepskyblue;
}

*{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

footer {
    background-color: deepskyblue;
    border-radius: 20%;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    padding: 20px;
    color: black;
    text-align: center;
  }

  .grid{
    background:linear-gradient(45deg, );
}

.grid .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(17, 17, 17, 0.2);
    font-size: 50px;
}

.grid .box-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:18px;
}

.grid .box-grid .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #49acf3;
    text-align: center;
}

.grid .box-grid .box img{
    height: 120px;
}
.grid .box-grid .box h2{
    text-align: left;
    color: #9a9ea0;
    font-size: 40px;
    font-weight: bold;
}

.grid .box-grid .box h3{
    color:#f5f4f4;
    font-size: 22px;
    padding:10px 0;
}

.grid .box-grid .box p{
    color:#dbd9d9;
    font-size: 15px;
    line-height: 1.8;
}

.grid .box-grid .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.grid .box-grid .box .btn:hover{
    letter-spacing: 1px;
}

.grid .box-grid .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:200px){
    .grid{
        padding:20px;
    }
}
.imgklasse {
    float: right;
    width: 40px;
    height:10px;
}

  .Kaderflaggen{

    width: 30px;
    height: 20px;
    
  }
  #Newcasteltrainerimg, #Newcastelbestertörschützeimg {

    width: 90px;
    height: 120px;
    text-align: right;
    

  }
  #Trainerbox{

    text-align: right;
    position: absolute;
    padding-left: 1300px;

  }
  #Torschützenbox{

    text-align: right;
    position: absolute; 
    padding-left: 900px;

  }

 #Torschützenbox  #Trainerbox{
    box-shadow: 0 5px 10 aqua(0,0,0,.2);
    border-radius: 5px;
    background: aqua;
    text-align: center;
    padding:30px 20px;
}

 #Torschützenbox  #Trainerbox h3{
    color:#f5f4f4;
    font-size: 22px;
    padding:10px 0;
}

 #Torschützenbox  #Trainerbox p{
    color:#dbd9d9;
    font-size: 15px;
    line-height: 1.8;
}

 #Torschützenbox  #Trainerbox .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

 #Torschützenbox  #Trainerbox .btn:hover{
    letter-spacing: 1px;
}

 #Torschützenbox  #Trainerbox:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.04);
}

@media (max-width:768px){
    .grid{
        padding:20px;
    }
}
.imgklasse {
    float: right;
    width: 90px;
    height: 120px;
}
.imgklasse2{

    float: right;
    width: 110px;
    height: 120px;

}

#Torschützenflagge{

width: 30px;
height: 20px;

}


  