header{
    background-color:grey;
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}
#navlogo{
    position: absolute;
    top: 15px;
    left: 50px;
   }
header h1{
    padding-top: 10px;
    text-align: center;
}
#links a{
    font-size: 24px;
    color: white;
    text-align: right;
}
#links a:hover{

    text-decoration: none;
    color: rgb(179, 179, 179);
    text-align: center;
}
body{
    background-color:black;
    color: white;
    text-align: center;
}
footer{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

*{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

footer {
    background-color: deepskyblue;
    border-radius: 20%;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    padding: 20px;
    color: black;
    text-align: center;
 }

.aboutinfos{

text-align: center;

}
.Newcasteltrikots{

height: auto;
width: auto;
border-radius: 50%;

}

.Newcasteltrikots:hover{

    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);

}

.imgtext{

    display: none;
    border: 1px solid #000;
    height: 30px;
    width: 290px;
    margin-left: 10px;

}

a:hover+#erstertrikottext{

display: block;

}


