header{
    background-color:grey;
    color: rgb(73, 73, 73);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}
#navlogo{
    position: absolute;
    top: 15px;
    left: 50px;
   }
header h1{
    padding-top: 10px;
    text-align: center;
}
#links a{
    font-size: 24px;
    color: white;
    text-align: right;
}
#links a:hover{

    text-decoration: none;
    color: rgb(179, 179, 179);
    text-align: center;
}
body{
    background-color:black;
    color: white;
    text-align: center;
}
footer{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

*{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

footer {
    background-color: deepskyblue;
    border-radius: 20%;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    padding: 20px;
    color: black;
    text-align: center;
 }

.aboutinfos{

text-align: center;

}
.Newcasteltrikots{

height: auto;
width: auto;
border-radius: 50%;

}

.Newcasteltrikots:hover{

    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);

}

.container1 {
    position: relative;
    width: 23%;
  }
  
  #erstestrikot {
    display: block;
    width: auto;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
    border-radius: 50%;
  }
  
  .container1:hover .overlay1 {
    opacity: 1;
  }
  
 .imgtext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .container2 {
    position: relative;
    width: 24%;
  }
  
  #zweitestrikot {
    display: block;
    width: auto;
    height: auto;
  }
  
  .overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
    border-radius: 50%;
  }
  
  .container2:hover .overlay2 {
    opacity: 1;
  }
  .container3 {
    position: relative;
    width: 24%;
  }
  
  #drittestrikot {
    display: block;
    width: auto;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
    border-radius: 50%;
  }
  
  .container1:hover .overlay1 {
    opacity: 1;
  }
  .container1 {
    position: relative;
    width: 24%;
  }
  
  #erstestrikot {
    display: block;
    width: auto;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
    border-radius: 50%;
  }
  
  .container1:hover .overlay1 {
    opacity: 1;
  }
  .container1 {
    position: relative;
    width: 24%;
  }
  
  #erstestrikot {
    display: block;
    width: auto;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
    border-radius: 50%;
  }
  
  .container1:hover .overlay1 {
    opacity: 1;
  }
  .container1 {
    position: relative;
    width: 24%;
  }
  
  #erstestrikot {
    display: block;
    width: auto;
    height: auto;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:black;
    border-radius: 50%;
  }
  
  .container1:hover .overlay1 {
    opacity: 1;
  }