header{
    background-color:  #003255;
    color: #fff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
header h1{
    padding-top: 20px;
    text-align: center;
}
#navlogo{
    position: absolute;
    top: 15px;
    left: 65px;
    margin: 5px;
    padding: 5px;
}
#links{
    background-color: #00417000;
    color: #080808;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
#links a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
#links a:hover{
    color: #080808;
    text-decoration: none;
}
body{
    background-color: rgb(29, 29, 29);
}
#main{
    color: white;
    text-align: center;
    font-size: 19px;
}
footer{
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.grid{
    background:linear-gradient(45deg, );
    padding:15px 9%;
    padding-bottom: 100px;
}

.grid .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.grid .box-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:18px;
}

.grid .box-grid .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #002a47;
    text-align: center;
    padding:30px 20px;
}

/*.grid .box-grid .box img{
    height: 200px; 
}*/

.grid .box-grid .box h2{
    text-align: left;
    color: #9a9ea0;
    font-size: 40px;
    font-weight: bold;
}

.grid .box-grid .box h3{
    color:#f5f4f4;
    font-size: 22px;
    padding:10px 0;
}

.grid .box-grid .box p{
    color:#dbd9d9;
    font-size: 15px;
    line-height: 1.8;
}

.grid .box-grid .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.grid .box-grid .box .btn:hover{
    letter-spacing: 1px;
}

.grid .box-grid .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}
.imgklasse {
    float: right;
    width: 65px;
    height: 40px;
    position: relative;
}
.Spielerbild {
    height: 200px; 
}