/* Scrollverhalten */
html {
    scroll-behavior: smooth;
}

/* Stil für den Header */
header {
    background-color: #003255;
    color: #fff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Stil für h1 innerhalb des Headers */
header h1 {
    padding-top: 20px;
    text-align: center;
}

header h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

/* Stil für das Navigationslogo */
#navlogo {
    position: absolute;
    top: 15px;
    left: 65px;
    margin: 5px;
    padding: 5px;
}

/* Stil für Links */
#links {
    background-color: #00417000;
    color: #080808;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

/* Stil für Links innerhalb von #links */
#links a {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Hover-Stil für Links */
#links a:hover {
    color: #080808;
    text-decoration: none;
}

/* Stil für den gesamten Body */
body {
    background-color: rgb(29, 29, 29);
}

/* Stil für den Footer */
footer {
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

/* Globale Stildefinition für alle Elemente */
* {
    font-family: 'Poppins', sans-serif;
    margin: 20;
    padding: 10;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    color: #fff;
    text-align: center;
}

h1,
h2 {
    margin-bottom: 15px;
}

/* Überschrift-Stil */
.heading {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 25px;
}

.partner-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.partner-container img {
    display: inline-flex;
    height: 50px;
    position: relative;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.partner-container a {
    display: inline-flex;
    height: 50px;
    position: relative;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.partner-container img:hover {
    transform: scale(1.1);
}

.partner-flex {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.partner-flex-columns1 {
    grid-template-columns: repeat(1, 1fr);
}

.partner-flex-columns3 {
    grid-template-columns: repeat(3, 1fr);
}

.partner-flex-columns4 {
    grid-template-columns: repeat(4, 1fr);
}

.headerwidth {
    width: 65%;
}