/* Scrollverhalten */
html {
    scroll-behavior: smooth;
}

/*Stil für den Header */
header {
    background-color: #003255;
    color: #fff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Stil für h1 innerhalb des Headers */
header h1 {
    padding-top: 20px;
    text-align: center;
}


/* Überschrift-Stil */
.headingh1 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 25px;
}

/* Stil für die Nav */
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Stil für das Navigationslogo */
#navlogo {
    width: 100%;
    max-width: 180px;
    margin: 5px;
    padding: 5px;
}

/* Stil für linke und rechte Seite */
#links-left,
#links-right {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: #00417000;
    color: #080808;
}

/* Stil für Links */
#links-left a,
#links-right a {
    background-color: #00417000;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

/* Hover-Stil für Links */
#links-left a:hover,
#links-right a:hover {
    color: #080808;
    text-decoration: none;
}

/* Media Query für Bildschirme mit einer Breite von maximal 768px */
@media screen and (max-width: 768px) {
    #navigation {
        align-items: flex-start;
    }

    #navlogo {
        width: 100%;
        max-width: 140px;
        margin: auto;
    }

    #links-left,
    #links-right {
        flex-direction: column;
        align-items: center;
    }

    #links-left a,
    #links-right a {
        margin: 10px 0;
    }

}

/* Stil für den gesamten Body */
body {
    background-color: rgb(29, 29, 29);
}

/* Stil für den Footer */
footer {
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

/* Globale Stildefinition für alle Elemente */
* {
    font-family: 'Poppins', sans-serif;
    margin: 20;
    padding: 10;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    color: #fff;
    text-align: center;
}

/* Stil für eine zentrierte Tabelle */
table.center {
    margin-left: auto;
    margin-right: auto;
}

/* Stil für die Logos */
#logos {
    width: 80px;
    height: 80px;
}

/* Stil für die Tabelle der Gruppe F */
table.t {
    width: 100%;
    max-width: 65%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}



/* Stil für Zellen in der Tabelle */
table.t td {
    font-size: 14px;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: keep-all;
    vertical-align: middle;
    text-align: middle;
}

/* Stil für Kopfzeilen in der Tabelle */
table.t th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    vertical-align: middle;
    text-align: middle;
}

/* Stil für markierte Elemente in der Tabelle */
table.t .t-markiert {
    background-color: #003255;
    color: #ffffff;
}

/* Stil für Bilder in der Tabelle */
table.t .tableimg {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    position: relative;
    justify-content: left;
    margin-right: 5px;
    margin-left: 0;
}

/* Stil für T2 */
table.t .t2 {
    text-align: left;
}

@media screen and (max-width: 768px) {
    table.t th {
        display: none;
    }

    table.t tbody tr {
        display: block;
        margin-bottom: 20px;
    }

    table.t tbody tr:last-of-type {
        border-bottom: 1px solid #ccc;
    }

    table.t tbody td {
        display: block;
        text-align: left;
    }

    table.t.t2 tbody td {
        display: block;
        text-align: left;
    }

    table.t tbody td::before {
        content: attr(data-label) ": ";
        display: inline-block;
        min-width: 200px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;

    }
}